* {
  font-family: "Merriweather", serif;
  color: var(--text-color); /*Chamando a função root*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  /* Todo conteúdo que usar essa função será branco*/
  --text-color: white;
  --bg-url: url(img/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(moon-stars.svg); /*Configuração do botão */
}

.light {
  --text-color: white;
  --bg-url: url(img/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.1);
  --switch-bg-url: url(sun.svg);
}

body {
  /*
  background-image: url(./img/bg-mobile.jpg);
  background-repeat: no-repeat; /* Para a imagem não se repetir 
  background-position: top center; Para definir onde ficará na página 
  background-size: cover;  Vai cobrir todo o tamanho da tela 
  */

  /* Background: color image repeat position/cover -- Atalho */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

#container {
  width: 360px;
  max-width: 588px;
  margin: 56px auto 0px; /* Em cima, automatico nas laterais e 0px embaixo*/
  padding: 0 24px; /* Em cima e embaixo 0 e 24 nas laterais */
}

/* Profile */
#profile {
  text-align: center; /* Elemento pai, aceita text-align*/
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500; /* Negrito */
  line-height: 24px; /* Altura da linha */
  margin-top: 8px;
}

/* Switch */
#switch {
  position: relative; /* O absoluto fica relativo a esse*/
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute; /* Sobrepõe o outro elemento, serve para fazer menu */
  top: 50%; /*Para alinhar o elemento ao meio*/
  left: 0; /* Começar da esquerda */
  z-index: 1; /* */
  transform: translateY(-50%); /*Mover o elemento para cima ou para baixo */
}

.light #switch button {
  right: 0;
  left: initial; /*Voltar para maneira inicial */
}

#switch span {
  /* Propriedade Span vem configurada como display inline */
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(
    4px
  ); /* Para compatibilidade com navegadores baseados em WebKit */
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*Links */
ul {
  list-style: none; /* Estilo da lista: nenhum */
  display: flex; /*Fazer com que os elementos da caixa fiquem um do lado do outro */
  flex-direction: column; /* Deixar um abaixo do outro */
  gap: 16px; /* Respiro entre os elementos */
  padding: 24px 0;
}

ul li a {
  display: flex; /* Cria uma linha virtual */
  align-items: center; /* Alinha os itens dentro da caixa */
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px); /* Deixa um embaçado ao fundo */
  -webkit-backdrop-filter: blur(
    4px
  ); /* webkit para os navegadores se adaptarem */
  text-decoration: none; /* Nenhuma decoração */
  font-weight: 500;
  transition: background 0.2s; /* Irá fazer uma transição em todos os elementos em 0.5s */
}

/* Pseudo-selector */
ul li a:hover {
  background: rgba(
    255,
    255,
    255,
    0.05
  ); /* Red, green, blue, (alpha) transparência */
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex; /* Deixar alinhado um do lado do outro */
  justify-content: center;
  padding: 24px 0px; /* Em cima, embaixo e nas laterais 10px */
  font-size: 24px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--highlight-color);
  padding: 16px;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/*  Media queries */
@media (min-width: 700px){
  :root{
    --bg-url: url(../assets/img/bg-desktop.jpg);
      height: 100vh;
  }

  .light{
    --bg-url: url(img/bg-desktop-light.jpg);
  }
}
